.contenedor{
    background-color: #110033;
    font-family: Roboto , Helvetica, sans-serif;
    text-align: center;
    width: 100vw;
    height: 200%;
    margin-left: 0px;
   
}

.c__nav{
    display: flex;
    flex-direction: column;
    
}
.c__nav a{
    color: white;
    font-size: 20pt;
    text-decoration: none;
    padding: 5px;
}
.c__nav a:hover{
    color:#4acb94;
}

.parrafo{
    color:#ffdc35;
    font-size: 30pt;
    margin-top: 3px;
}
.logo_p{
    width: 40pt;
    height: 40pt;
    filter: brightness(500%);
    background-color: white;
    border-radius: 20%;
    
    
}
.logo_g{
    width: 80pt;
    height: 80pt;
    margin: 5px 30px 30px;
    background-color: white;
    border-radius: 50%;

    
}