.contenedor_conci {
  background-color: #110033;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  width: 100vw;
  margin-left: 0px;
}
.contenedor_concierto {
  justify-content: center;
  height: 100vh;
  color: white;
}
.music{
  background-color: #110033;
}
