.contenedor {
  background-color: #110033;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin-left: 0px;
}
.confi_perfil{
  color: #110033;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  margin-top: 15%;
}
.contenedor_confi{
  margin-top: 30%;
  background-color: #ccc;
  height: 40%;
  width: 100vw;
}
