.contenedor_confiperfil{
    background-color: #110033;
    font-family: Roboto , Helvetica, sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
   
}
.logo_p{
    width: 40pt;
    height: 40pt;
    filter: brightness(500%);
    background-color: white;
    border-radius: 20%;
    
    
}
.logo_g{
    width: 80pt;
    height: 80pt;
    margin: 5px 30px 30px;
    background-color: white;
    border-radius: 50%; 
}
hr{
    width: 70%;
    color: #f4f4f4;
}
.bienvenido{
    color:rgb(255, 220, 53);
    font-size: 30pt;
    margin-top: 3px;
}


.datosPersonales p{
    color: white;
    font-size: 20px;
    margin-right: 10%;
   

}
.datosPersonales div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_escri{
    width: 10%;
    height: 10%;
}
.logo_escribir{
    width: 100%;
    margin-top: 15%;
    
    
}