.contenedor_form {
  background-color: #110033;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  width: 100vw;
}

.btn_music {
  padding: 5%;
  width: 33%;
  cursor: pointer;
  opacity: 0.65;

  background-color: rgba(230, 255, 41, 1);

  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(230, 255, 41, 1)),
    color-stop(97%, rgba(255, 177, 41, 1)),
    color-stop(100%, rgba(255, 177, 41, 1))
  );

  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: radial-gradient(
    ellipse at center,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ff29', endColorstr='#ffb129', GradientType=1 );
  color: #110033;

  margin: 4%;
}

.parrafo {
  color: white;
  text-align: left;
  margin-left: 12%;
  font-size: 28px;
  margin-top: 5%;
}

.btn_music_on {
  padding: 5%;
  width: 33%;
  cursor: pointer;
  opacity: 1;

  background-color: rgba(230, 255, 41, 1);

  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(230, 255, 41, 1)),
    color-stop(97%, rgba(255, 177, 41, 1)),
    color-stop(100%, rgba(255, 177, 41, 1))
  );

  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  background: radial-gradient(
    ellipse at center,
    rgba(230, 255, 41, 1) 0%,
    rgba(255, 177, 41, 1) 97%,
    rgba(255, 177, 41, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ff29', endColorstr='#ffb129', GradientType=1 );
  color: #110033;

  margin: 4%;
}

.btn_continuar {
  background-color: #ffdc35;
  border-radius: 30%;
  margin: 10px;
  margin-top: 60px;
  padding: 15px;
  font-size: 20px;
}

ul li {
  opacity: 1;
}
li button::before {
  border-radius: 10px;
  color: white;
  background-color: #ffdc35;
}
