.contenedor_header {
  position: sticky;
  top: 0;
}

.b-header {
  background-color: rgb(255, 220, 53);
  width: 100vw;
  height: 69px;
  font-family: Overpass-Light;
}
.b-flecha {
  position: absolute;
  margin-top: 5%;
}

.text {
  padding-top: 7%;
  text-align: center;
  font-size: 20px;
}
