.contenedor_header {
  position: sticky;
  top: 0;
}

.b-header {
  background-color: rgb(255, 220, 53);
  width: 100vw;
  height: 77px;
  font-family: Overpass-Light;
}
/*.b-flecha {
  width: 8%;
  margin-top: 10%;
  margin-right: 90%;
}*/

.text {
  text-align: center;
  font-size: 20px;
}
