.contenedor_g {
  background-color: #110033;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  width: 100vw;
  height: 100%;
}

.h2 {
  color: #110033;
  text-align: left;
  font-size: 25px;
  padding: 8px;
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.contenedor_login {
  background-color: #ccc;
  height: 50%;
  width: 77%;
  margin-left: 12%;
  border-radius: 40px;
}

.contenedor_login input {
  margin-bottom: 10px;
  width: 70%;
  font-size: 18px;
  border: none;
}
.btnContinue {
  background-color: #4dd599;
  color: #110033;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #110033;
  height: 20%;
  margin-left: 8%;
}
.registro {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  font-size: 20px;
  color: #110033;
}
.divPass {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 15%;
  width: 77%;
  height: 20%;
  background-color: white;
}
.divUser {
  display: flex;
  flex-direction: row;
  justify-items: center;

  margin-left: 15%;
  width: 109%;
  height: 25%;
}
.badUser {
  color: red;
  font-size: 15px;
  text-align: center;
}
.eye {
  margin-left: 14%;
  margin-bottom: 3%;
}

.eye:hover {
  color: #f51761;
  cursor: pointer;
}

.forgot {
  color: blue;
  font-size: 11px;
}
.forgot2 {
  margin-top: 4%;
}
